---
import LandingHeader from "../components/LandingHeader.astro";
import Modal from "../components/Modal.astro";
import Accesories from "../components/sections/Accesories.astro";
import EnjoyTesla from "../components/sections/EnjoyTesla.astro";
import Model3 from "../components/sections/Model3.astro";
import ModelS from "../components/sections/ModelS.astro";
import ModelX from "../components/sections/ModelX.astro";
import ModelY from "../components/sections/ModelY.astro";
import SolarPowerwall from "../components/sections/Solar-Powerwall.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Tesla Clone Page - Rodolfo Fleitas Arce"
  description="Contrata a Rodolfo para crear tu aplicacion web o movil."
>
  <LandingHeader />

  <Modal />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll"
  >
    <div class="snap-center">
      <ModelY />
    </div>

    <div class="snap-center">
      <Model3 />
    </div>

    <div class="snap-center">
      <ModelS />
    </div>

    <div class="snap-center">
      <ModelX />
    </div>

    <div class="snap-center">
      <EnjoyTesla />
    </div>

    <div class="snap-center">
      <SolarPowerwall />
    </div>

    <div class="snap-center">
      <Accesories />
    </div>
  </main>
</Layout>

<script>
  const modal = document.getElementById("modal-menu");
  const openBtn = document.getElementById("openModal");
  const closeBtn = document.getElementById("closeModal");

  window.addEventListener("resize", (event) => {
    let imagesSection = document.querySelectorAll(".img-section");

    if (document.body.clientWidth >= 1200) {
      modal.classList.add("hidden");
    }
  });

  openBtn.addEventListener("click", () => {
    modal.classList.remove("hidden");
  });

  closeBtn.addEventListener("click", () => {
    modal.classList.add("hidden");
  });
</script>
